
<app-nav-bar></app-nav-bar>
<div class="container">

    <div class="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2983.808631340899!2d-60.68277489454314!3d-32.91899863951478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b6535b8fbed8b5%3A0x383e063f00b04cf7!2sAv.%20Alberdi%20725%2C%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1664484886360!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="lateral">
        <div class="row">
            <ul class="texto">
                <li><a class="texto" target="_blank" href="https://instagram.com/connectidiomasrosario?igshid=YmMyMTA2M2Y="><i class="fa-brands fa-instagram"></i></a></li>
                <li><a class="texto" target="_blank"  href="https://www.facebook.com/Connect-Instituto-de-Idiomas-102645555935826/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a class="texto" target="_blank"  href="https://wa.me/3412636995"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a class="texto" target="_blank"  href="mailto: connectinstitutodeidiomas@gmail.com "><i class="fa-regular fa-envelope"></i></a></li>
                <li><a class="texto" target="_blank"  href="tel:+5493415029436"><i class="fa-solid fa-phone"></i></a></li>
            </ul>
        </div>

</div>

</div>



<app-footer></app-footer>
