.container__about{
  height: 25rem;
  display: flex;
  /* width: 100%; */

}

.about__images{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.about__title{
  color: var(--orange-Connect);
  font-weight: 600;
  font-size: 2rem;
}
.imgBack img{
  position: absolute;
  top: 39rem;
  left: 4rem;
  z-index: -1;
  width: 50rem;
}
.container__card{
display: flex;
width: 100%;
justify-content: space-evenly;
height: 20rem;
}
.card{
  width: 22rem;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.card1{
  background-color: var(--pink-Connect);
}

.card1__title{

}
.card1__content{

}
.card1__button {

}
.card2{
background-color: var(--white-Connect);
}
.card2__title{

}
.card2__content{

}
.card2__button {

}
.card3{
  background-color: var(--orange-Connect);

}
.card3__title{

}
.card3__content{

}
.card3__button {

}
