<div class="container__about">

  <div class="about__images">
    <div class="imgBack">
      <img src="../../../assets/images/logo__white.svg" alt="" [ngStyle]="{ transform: imgTransform }">
    </div>


    <div class="about__title"> About us </div>
    <div class="container__card">

      <div class="card card1">
        <div class="card1__title"> Titulo</div>
        <div class="card1__content"> Lorem ipsum dolor sit amet.</div>
        <div class="car1__button">
          <button class="button__secondary">Lorem</button>
        </div>

      </div>
      <div class="card card5">
        <div class="card2__title"></div>
        <div class="card2__content"></div>
        <div class="car2__button">
          <button class="button__tertiary">Lorem</button>
           </div>
      </div>
      <div class="card card3">
        <div class="card3__title"></div>
        <div class="card3__content"></div>
        <div class="car3__button">
          <button class="button__cuaternary">Lorem</button>
        </div>
      </div>
    </div>

  </div>


  </div>
