<div class="container mt-3">

   <div class="row">
    <div class="col-5">
        <div class="card bg-transparent" >
            <div class="card-title">
            Lorem ipsum dolor sit amet,  </div>
            
            <p class="card-text"> consectetur adipisicing elit. Sequi harum ipsum, minus hic excepturi consectetur nesciunt atque provident nemo ipsa obcaecati distinctio accusamus inventore saepe alias ullam! </p> 
    </div>
</div>
<div class="col-7 ">

</div>

    </div>
   </div>
       