footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;   
    height: auto;
    width: 100vw;
    margin-top: 20px;
    padding-top: 20px;
   
}
.footer-bottom{
    background: #ffa015;
    color: #004aad;
    width: 100vw;
    padding: 3px;
    
    text-align: center;
   
}
a{
    text-decoration: none;
    color: #004aad;
    transition: 500ms;
    
}

a:hover{
    cursor: pointer;
    color: #e42f80;
    transform: scale(1.1);
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
   
   
    
}