<div class="container__header">

<div class="header__info">

<div class="header__info__title">
  <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, iure.</span>
</div>

<div class="header__info__text">
  <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, iure.</span>

</div>
<div class="header__info__buttons">

  <button class="button__primary">Lorem</button>
  <button class="button__secondary">Lorem</button>

</div>


</div>


<div class="header__images">
  <div class="imgBack">
    <img src="../../../assets/images/logo__orange.svg" alt="" [ngStyle]="{ transform: imgTransform }">
  </div>
<div class="img1">
  <img src="../../../assets/images/pictures/door.jpg" alt="">
</div>
<div class="img2">
  <img src="../../../assets/images/pictures/classroom.jpg" alt="">
</div>
<div class="img3">
  <img src="../../../assets/images/pictures/kidsArea.jpg" alt="">
</div>

</div>
</div>
