
.barra{
    width: 95%;
}
.subBarra{
    /* margin-left: -40px; */
}
.texto {
    color: var(--white-Connect);


}

.dropdown-menu{
    background-color: var(--orange-Connect);
    border: none;

}

.nav-link:hover, .dropdown-item:hover{
    transform: scale(1.05);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px var(--orange-Connect), 0 0 30px var(--orange-Connect), 0 0 40px var(--orange-Connect), 0 0 55px var(--orange-Connect), 0 0 75px var(--orange-Connect);
    color: var(--orange-Connect);
    font-weight: bold;
}

.burger:hover{
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, var(--orange-Connect) 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, var(--orange-Connect) 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);

}


@media screen  and (max-width: 768px){
    .subBarra{
        margin-left: -30px;

    }
    .dropdown-menu{
        width: 70px;
        margin-left: -100px;

    }

}
