.container__courses{
  height: 47rem;
  display: flex;
  /* width: 100%; */

}
.courses__info{

  width: 40%;

}
.imgBack {
  position: relative;
  overflow: hidden; /* Esto ocultará cualquier parte de la imagen que se extienda más allá del contenedor */
  width: 52rem; /* Ancho del contenedor */
  height: 52rem; /* Altura del contenedor */
}
.imgBack img{
  position: absolute;
  top: 0rem;
  right: -34rem;
  z-index: -1;
  width: 52rem;
}
