<div class="container text-center cursos">
    <div class="row d-flex justify-content-center">
      <div class="col-4 d-flex justify-content-end ">
        
        <div class="card">
            <div class="card-details">
              <p class="text-title">Inglés</p>
              <p class="texto">Here are the details</p>
            </div>
            <button class="card-button">More info</button>
          </div>


        
       
      </div>
      <div class="col-4 d-flex justify-content-center ">
       
        <div class="card">
            <div class="card-details">
              <p class="text-title">Italiano</p>
              <p class="texto">Here are the details</p>
            </div>
            <button class="card-button">More info</button>
          </div>



      </div>
      <div class="col-4 d-flex justify-content-start ">
        <div class="card">
            <div class="card-details">
              <p class="text-title">Portugues</p>
              <p class="texto">Here are the details</p>
            </div>
            <button class="card-button">More info</button>
          </div>



      </div>
    </div>




   